@charset "utf-8";
/* CSS Document */

.background {
	height: 100%;
	margin: 0;
	padding: 0;
}

.background-image {
	width: 100%;
	height: 100%;
	background-image: url("img/d0462f4e9c2d1e6b9d249698e65f83ca.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}




