@charset "utf-8";
/* CSS Document */

body {
margin: 0;
background: linear-gradient(140deg,#A8ADED,#A8D8ED);
}



.container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

.box {
	position: relative;
	width: 500px;
	height: 500px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 30px; 
	background: linear-gradient(140deg,#A8ADED,#A8D8ED);
	z-index: 1;
}


.box::before{
content: "";
position: absolute;
top: 0;
width: 100%;
height: 100%;
border-radius: 30px;
background: url("img/noise 2.png"),repeat, center;
mix-blend-mode: screen;
z-index: -1;		
}

.box::after{
	content: "";
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	background: linear-gradient(140deg,#A8ADED,#A8D8ED); 
	filter: blur(9px);
	/* jeg putter z-index ind her da jeg ville have alt det her bagved min boks*/ 
	z-index: -2;
	box-shadow: 5px 5px 10px #000000;
	
}

p {
 color:black;
 font-size: 80px;
 font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";
 font-weight: bold;
 margin: 0;
 letter-spacing: -3px;
}

a {
	
	font-size: 20px;
	color: white;
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";
	display: flex;
	justify-content: center;
	background: linear-gradient(140deg,#A8ADED,#A8D8ED);
}

.knap {
text-align: center;
} 

.button {
	border-radius: 5px;
	padding: 10px 20px;
	cursor: pointer;
	background-color: transparent;
	color: black;
	padding-left: 70px;
	padding-right: 70px;
	margin-bottom: 45px;
	box-shadow: 5px 5px 10px #000000;
	border: 2px solid white;
	text-decoration: none; 
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";
	font-size: 15px;
	font-weight: bold;
	
}

.button:hover {
	box-shadow: 0px 0px 5px rgb(255,255,255,0.3), 0px 0px 10px rgb(255,255,255,0.8);
}


.menu {
	margin: 0; 
	display: flex;
	list-style-type: none;
	flex-direction: row;
	
}

li {
	padding: 15px;
	
}
